In [8]:
print("Welcome to Jupyter Notebook! Best of Luck")

Welcome to Jupyter Notebook! Best of Luck

In [10]:
for i in range(10):
    print('6 X ', i, ' = ', 6 * i)

6 X  0  =  0
6 X  1  =  6
6 X  2  =  12
6 X  3  =  18
6 X  4  =  24
6 X  5  =  30
6 X  6  =  36
6 X  7  =  42
6 X  8  =  48
6 X  9  =  54

This is Python LVC for Oracle
We are learning Python

# Comprehensions

In [13]:
import random
R = []
for i in range(120):
    R.append(random.randint(1, 100))
print(R)

[91, 3, 92, 49, 78, 51, 59, 12, 19, 50, 78, 85, 47, 56, 72, 96, 8, 24, 64, 56, 92, 25, 84, 50, 57, 100, 57, 19, 55, 68, 92, 20, 13, 44, 8, 98, 77, 38, 37, 70, 66, 34, 93, 11, 22, 12, 44, 87, 49, 20, 35, 49, 40, 60, 98, 45, 53, 8, 37, 90, 1, 84, 64, 10, 90, 99, 26, 84, 11, 83, 27, 86, 62, 50, 33, 7, 92, 81, 3, 48, 18, 54, 31, 4, 43, 10, 75, 7, 38, 5, 28, 64, 24, 78, 38, 20, 44, 59, 9, 5, 21, 39, 99, 18, 91, 86, 85, 8, 39, 67, 86, 26, 49, 64, 29, 11, 25, 79, 69, 77]

In [14]:
D5 = []
for i in R:
    if(i % 5 == 0):
        D5.append(i)
print(D5)

[50, 85, 25, 50, 100, 55, 20, 70, 20, 35, 40, 60, 45, 90, 10, 90, 50, 10, 75, 5, 20, 5, 85, 25]

In [15]:
D5C = [x for x in R if(x % 5 == 0)]
print(D5C)

[50, 85, 25, 50, 100, 55, 20, 70, 20, 35, 40, 60, 45, 90, 10, 90, 50, 10, 75, 5, 20, 5, 85, 25]

Comprehension helps you create/work with a collection

##### Syntax -> [ expr loop condition ]

In [16]:
# Produce all the even numbers from 1 to 100
EN = [i for i in range(1, 101) if(i % 2 == 0)]
print(EN)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [17]:
# Produce the square of all the numbers between 1 and 20 which are divisible by 3
SN = [n**2 for n in range(1, 21)]
print(SN)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [18]:
SN = [n**2 for n in range(1, 21) if(n % 3 == 0)]
print(SN)

[9, 36, 81, 144, 225, 324]

In [19]:
S = ["red", "green", "blue", "yellow"]
# SC = [ ("red", 3), ("green", 5) ...]
SC = [(s, len(s)) for s in S]
print(SC)

[('red', 3), ('green', 5), ('blue', 4), ('yellow', 6)]

In [24]:
SC = ((s, len(s)) for s in S)
print(tuple(SC))

(('red', 3), ('green', 5), ('blue', 4), ('yellow', 6))

In [25]:
DC = { s:len(s) for s in S }
print(DC)

{'red': 3, 'green': 5, 'blue': 4, 'yellow': 6}

In [26]:
stars = [ '*'*i+'\n' for i in range(6, 0, -1) ]
for line in stars:
    print(line)

******

*****

****

***

**

*

In [27]:
print(stars)

['******\n', '*****\n', '****\n', '***\n', '**\n', '*\n']

In [28]:
LTC = [ (x, x**2) for x in range(1, 10) ]
print(LTC)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [31]:
LTC = [ (x, y) for x in range(1, 10) for y in range(1, 10) if(x + y == 9) ]
print(LTC)

[(1, 8), (2, 7), (3, 6), (4, 5), (5, 4), (6, 3), (7, 2), (8, 1)]

In [32]:
N = list(range(1, 11))
print(N)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
NC = [n**2 for n in N if(n%3==0)]
print(NC)

[9, 36, 81]

In [34]:
NC = [n**2 if n % 3 == 0 else n for n in N]
print(NC)

[1, 2, 9, 4, 5, 36, 7, 8, 81, 10]

In [35]:
NC = [n**2 for n in N if n % 3 == 0 else n]
print(NC)

SyntaxError: invalid syntax (<ipython-input-35-cc9531f301c5>, line 1)

In [41]:
O = []
E = []
C = [ O.append(n) if n % 2 != 0 else E.append(n) for n in range(100)]
print("Evens:", E)
print("Odds:",O)

Evens: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
Odds: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [45]:
D = { 'odds': [], "evens": []}
C = [ D["odds"].append(n) if n % 2 != 0 else D["evens"].append(n) for n in range(100)]
print(D)

{'odds': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99], 'evens': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]}