In [1]:
c = "name,age,regid,phy,chem,math,bio,avg,rank\n"
r = "Vijay,14,HPE001,99,98,97,96,0,0\n"

In [3]:
cc = [item.strip() for item in c.split(',')]
print(cc)

['name', 'age', 'regid', 'phy', 'chem', 'math', 'bio', 'avg', 'rank']

In [4]:
rc = [item.strip() for item in r.split(',')]
print(rc)

['Vijay', '14', 'HPE001', '99', '98', '97', '96', '0', '0']

In [5]:
sd = dict(zip(cc, rc))
print(sd)

{'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': '99', 'chem': '98', 'math': '97', 'bio': '96', 'avg': '0', 'rank': '0'}

In [6]:
cd = {}
cd.setdefault(sd['regid'], sd)
print(cd)

{'HPE001': {'name': 'Vijay', 'age': '14', 'regid': 'HPE001', 'phy': '99', 'chem': '98', 'math': '97', 'bio': '96', 'avg': '0', 'rank': '0'}}

In [7]:
cd["HPE001"]

{'name': 'Vijay',
 'age': '14',
 'regid': 'HPE001',
 'phy': '99',
 'chem': '98',
 'math': '97',
 'bio': '96',
 'avg': '0',
 'rank': '0'}

In [9]:
cd["HPE001"].items()

dict_items([('name', 'Vijay'), ('age', '14'), ('regid', 'HPE001'), ('phy', '99'), ('chem', '98'), ('math', '97'), ('bio', '96'), ('avg', '0'), ('rank', '0')])

In [14]:
t = list(zip(*cd["HPE001"].items()))
print(t)

[('name', 'age', 'regid', 'phy', 'chem', 'math', 'bio', 'avg', 'rank'), ('Vijay', '14', 'HPE001', '99', '98', '97', '96', '0', '0')]

In [15]:
t[1]

('Vijay', '14', 'HPE001', '99', '98', '97', '96', '0', '0')

In [17]:
','.join(t[1]) + '\n'

'Vijay,14,HPE001,99,98,97,96,0,0\n'

#### string format()

In [19]:
"My name is {} and age is {}". format("Raj", 10)

'My name is Raj and age is 10'

In [22]:
"My name is {1} and age is {0}". format("Raj", 10)

'My name is 10 and age is Raj'

In [23]:
"My name is {0:10} and age is {1:5}". format("Raj", 10)

'My name is Raj        and age is    10'

In [24]:
"My name is {0:>10} and age is {1:<5}". format("Raj", 10)

'My name is        Raj and age is 10   '

In [25]:
"My name is {0:^10} and age is {1:^5}". format("Raj", 10)

'My name is    Raj     and age is  10  '

In [26]:
"My name is {n:^10} and age is {a:^5}". format(n="Raj", a=10)

'My name is    Raj     and age is  10  '